@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, 'Pangolin';
  
} 

body{
  background:fixed;
  background-color: #1a1919;
}

header{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

/** Começo da NavBar **/
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: black;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  border-bottom: 3px solid #FF7F31;
}

nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Pangolin';
}

nav .corlogo{
    color: #FF7F31;
    font-family: 'Pangolin';
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  z-index: 1;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #FF7F31;
}

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"]{
  display: none;
}

/*
 * Modal
 */

 .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  display: flex;
  
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2em;
  width: 34rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexModal{
  display: flex ;
}

.close-button:hover {
  background-color: #FF7F31;
  color: black;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

@media (max-width: 50000px){
  nav{
    padding: 0 40px 0 50px;
  }
  .animateMobile{
    display: none;
  }
  .imgLoginMobile{
    display: none;
  }
}

@media (max-width: 920px) {

  body{
    background-color: #1a1919;
    background-image: url(/Img/LoginMobile.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgLogin{
    display: none;
  }

  .imgLoginMobile{
    width: 10%;
  }

   .modal-content {
        width: 20rem;
        height: 10rem;
        padding: 1rem;
    }

  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #FF7F31;
  }
  .animate{
    display: none;
  }

  .animateMobile{
    display: block;
    position: absolute;
  }

  .main-direita{
    display: none;
  }

  .paiLogin{
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .logIN, .passIN{
    display: flex;
    flex-flow: nowrap column;
    width: 90%;
  }

}

/** Fim NavBar **/


.box-login{
  margin: 0 auto;
  width: 100%;
  height: 70%;
  padding: 25px;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  align-items: center;
}

.logIN, .passIN{
  display: flex;
  flex-flow: nowrap column;
  max-width: 300%;
  margin-bottom: 5%;
}



label{
  color: white;
  font-family: 'Poppins';
}

.camp1, .camp2{
  border-radius: 5px;
  border: 2px solid transparent;
}

.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%;
  color: #FF7F31;
  font-family: 'Pangolin';
}

.logar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

button{
  background: white;
  width: 200%;
  height: 5vh;
  border: 5px;
  font-family: 'Poppins';
  border-radius: 5px;
  font-size: 110%;
  cursor: pointer;
  font-weight: 1000;
  padding: 15%;
  display: flex;
  align-items: center;
}

button:hover {
  background-color: #FF7F31;
  color: white;
  transform: translateY(-7px);
}

.main-esquerda{
  width: 50%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-direita{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgLogin{
  width: 50%;
  height: auto;
}

.paiLogin{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.cadastro{
  color: white;
  margin-top: 5%;
}